body {
    background-color:maroon; 
}

header, main, footer {
    width: 900px;
    background-color:white;
    margin: 0 auto;
    padding:50px;
    font-size:36px;
}

/* HEADER STYLE BEGINS */

header {
    padding-right:0;
    width:950px;
}

header, main {
    border-bottom:maroon 5px solid;
}

header h1 {
    font-family:"Zapfino";
    font-size:48px;
    text-align:center;
    color:maroon;
    line-height:84px;
}

#logo {
    float:left;
}

#title-container {
    margin-left:200px;
}

nav ul {
    text-align:right;
}

nav ul li {
    display:inline-block;
    background-color:lightgrey;
    color:lightgrey;
    padding:12px;
    margin-top:25px;
    text-transform:uppercase;
    font-family:"Arial";
}

nav ul li:hover {
    background-color:blue;
}

nav ul li a {
    text-decoration:none;
}

nav ul li a:link {
    color:white;
}

nav ul li a:visited {
    color:white;
}

nav ul li a:hover {
    text-decoration:underline orange;
}

nav ul li a:active {
    color:purple;
}

/* HEADER STYLES END */

/* FOOTER STYLES START */

footer {
    color:maroon;
    font-family:"Arial";
    line-height:40px;
}

#copyright {
    text-transform:uppercase;
    text-align:center; 
    font-size:10px;
}

#social-links ul {
    text-align:center;
    margin-bottom:20px;

}
#social-links ul li {
    display:inline-flex;
    border:solid 1px blue;
    border-radius:10px;
    padding: 0;
}

#social-links ul li a {
    display:block;
    padding:10px;
}
#social-links ul li {
    line-height:100px;
    box-sizing:border-box;
}

/*
#social-links ul li:hover {
    color:blue;
    background-color:maroon;
} */

#social-link ul li a {
    text-decoration:none;
    color: purple;
}

#social-links ul li a:visited {
    color:maroon;
}

#social-links ul li a:hover {
    color:white;
    background-color:gray;
}

/* FOOTER STYLES END */

/* MAIN DEFAULT STYLES START */

main {
    font-family:"Arial";
    color:maroon;
}

main h1 {
    font-family:"Zapfino";
    font-size:30px;
    text-align:center;
    line-height:100px;
    margin:30px;
    /* text-transform:uppercase; */
}

main p {
    font-size:24px;
}

/* MAIN DEFAULT ENDS */

/* HOMEPAGE STYLE STARTS */

main#homepage p {
    margin:20px;   
    line-height:30px;
    text-align:justify;
}





/* HOMEPAGE STYLE ENDS */

/* GALLERY STYLE STARTS */

/* FLEX lines the pictures up */
#gallery {
    display:flex; 
    flex-wrap:wrap;
    justify-content:space-between;
}

#gallery div {
    width:200px;
}

#gallery div img {
    width:200px;
    margin-top:20px;
}

/* GALLERY STYLE ENDS */

/*CONTACT STLYLE STARTS*/

#contact hr {
    border:dotted 2px maroon;
}

#contact-flexbox {
    display:flex;
}

#contact-flexbox div:first-child {
    flex-grow:3;
}

#contact-flexbox div:last-child {
    flex-grow:1;
}

#contact-form {
    width:400px;
    margin:20px;
}

#contact-form label {
    font-size:24px;
}
#contact-form input {
    border:solid 5px maroon;
    width:400px;
    height:50px;
    border-radius:15px;
    box-sizing:border-box;
    font-size:20px;
    color:maroon;
    padding-left:11px;
}
#contact-form .form-buttons {
    margin:20px;
    color:maroon;
    font-size:15px;
    width:360px;
}

#contact-form .form-buttons:hover {
    border:solid blue 5px;
    cursor:crosshair;
}

#contact-form textarea {
    border: solid 5px maroon;
    border-radius:15px;
    width:100%;
    height:50px;
    box-sizing:border-box;
    padding:11px;
    font-size: 18px;
    color:maroon;
}

/* CONTACT STYLE ENDS*/