body {
    background-color:white;
}

header {
    margin-top:100px;
    background-color:lightslategray ;
    text-align: center;
    padding:10px;
}

nav ul li {
    display:inline-block;
    background-color:white;
    color:lightslategray;
    padding:10px;
    margin-top:15px;
    margin-block-end: 50px;;
    text-transform:uppercase;
}   

nav ul{
    text-align: center;
    padding-inline-start: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

h1 {
    font-family:'Poppins', 'Times New Roman', serif;
}

p {
    font-family:'Roboto', 'Arial', sans-serif;
}

#copyright {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
}

main h1{
    text-align:center;
    padding-inline-start: 0px;
}

#aboutme div img{
    padding-left:10px;
    width:200px;
}




   

/**
div#flex-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column-wrap;
    align-items: flex-start;
    height: 820px;
    justify-content: space-evenly;
}

#flex-gallery > figure {
    background-color: lightblue;
    padding: 15px;
}

figure {
    width: 200px;
}

figure > img {
    width:200px;
    border-radius: 10px;
}

figure > img {
    width: 200px;
    border-radius: 10px;
}

figcaption {
    font-size: 24px;
    text-align: center;
    margin: 10px;
    line-height:
    font-style:
    font-family: 
}
**/